//
//  Config.xcconfig
//  pwgen
//
//  Created by Max-Joseph on 08.08.22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEPLOYMENT_LOCATION = YES
//DEPLOYMENT_POSTPROCESSING = YES
INSTALL_PATH = .
DSTROOT = $(SRCROOT)/build/
